/* Reset some default styles */
body, h1, h2, h3, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define some global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    font-size: 24px;
    color: yellow;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover{
    background-color: #ff4500;
    border-radius: 8px;
}

.hero {
    background-image: url('bg.avif'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}

.hero h2 {
    font-size: 36px;
    color:rgb(255, 0, 51);
    font-weight: bold;
}

.hero p{
    color:orangered;
    font-weight: bold;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #ff4500;
    transition: background-color 0.3s ease;
}

.features {
    text-align: center;
    padding: 50px 0;
}

.features .feature {
    margin-bottom: 40px;
}

.features h3 {
    font-size: 24px;
}

.learn-more, .contact {
    text-align: center;
    background-color: #fff;
    padding: 100px 0;
}

.contact form {
    text-align: left;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #ff4500;
    transition: background-color 0.3s ease;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
